.objetives{
    
   
    text-align: left;
}

.title {
    margin-top: 5%;
    padding-bottom: 2rem;
}

.container-objetives{
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.googleslides {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e1b4d;
    z-index: -1;
}

.particles-js{
    width: 100%;
    height: 600px;
    background-color: black;
}

h2 {
    color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
}
